### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

In [27]:
total_count = purchase_data["SN"].count()
player_count = purchase_data["SN"].nunique()
print("Total Players", player_count)
# print ("total purchases", total_count)

#purchase_data.describe()

Total Players 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = purchase_data["Item ID"].unique()
len(unique_items)
average_price = purchase_data["Price"].mean()
average_price
number_of_purchases = purchase_data["Purchase ID"].count()
number_of_purchases
total_revenue = purchase_data["Price"].sum()
total_revenue
summary_dict = ({
    "Unique Items": len(unique_items),
    "Average Price": average_price,
    "Total Purchases": number_of_purchases,
    "Total Revenue": total_revenue
})
summary_df = pd.DataFrame([summary_dict])
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df.head()

   Unique Items Average Price  Total Purchases Total Revenue
0           183         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [15]:
gender_count_df = purchase_data.groupby("Gender")["SN"].nunique()
gender_count_df.head()


# Gender Percentage
gender_percentage_df = (gender_count_df/player_count)*100
gender_percentage_df.round(2)

#dataframe

gender_df = pd.DataFrame({"Total Count": gender_count_df,"Percentage of Players":gender_percentage_df})
gender_df.head()

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
#get cutdown dataframe
gender_player = pd.DataFrame(purchase_data[["Gender","Price","SN"]])

#groupby
gender_gb = gender_player.groupby(["Gender"])

#calculations these are not quite right, but at least it works for now
purchase_count = gender_gb["Gender"].count()
purchase_avg = gender_gb["Price"].mean()
total_value = gender_gb["Price"].sum()
# unique_sn = len(gender_gb["SN"].unique())
# avg_value = unique_sn/purchase_count # this is not right


#Total Purchase value by gender by SN
gender_purchases_df = purchase_data.groupby("Gender")["SN"]
gender_purchases_df.count()
gender_total_df = purchase_data.groupby("Gender")["Price"].sum()
gender_total_df
unique_by_gender = gender_total_df/gender_count_df 


#new dataframe with results
gender_summary_table2 = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Average Purchase Price": purchase_avg,
                                    "Total Purchase Value": total_value,
                                    "Avg Total Purchase Price per Person": unique_by_gender})
gender_summary_table2.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Price per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [44]:
bins = [0,10,15,20,25,30,35,40,100]
group_names = ["<10", "10-14", "15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
age_gb = purchase_data.groupby(["Age Groups"])
age_group_count = age_gb['SN'].count()
age_group_pct = age_group_count/player_count*100


# #new dataframe with results
age_summary_table = pd.DataFrame({"Total Count": age_group_count, "Percent of Players": age_group_pct })
age_summary_table.head()

            Total Count  Percent of Players
Age Groups
<10                  32            5.555556
10-14                54            9.375000
15-19               200           34.722222
20-24               325           56.423611
25-29                77           13.368056

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [50]:
age_purchase_count = age_gb["Gender"].count()
age_purchase_avg = age_gb["Price"].mean()
age_total_value = age_gb["Price"].sum()
age_unique_sn = len(age_gb["SN"].unique())
age_avg_value = player_count/age_purchase_count # this is not right



#new dataframe with results
age_summary_table2 = pd.DataFrame({"Purchase Count": age_purchase_count,
                                    "Average Purchase Price": age_purchase_avg,
                                    "Total Purchase Value": age_total_value,
                                    "Avg Total Purchase Price per Person": age_avg_value})
age_summary_table2.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Price per Person
Age Groups,,,,
<10,32,3.405000,108.96,18.000000
10-14,54,2.900000,156.60,10.666667
15-19,200,3.107800,621.56,2.880000
20-24,325,3.020431,981.64,1.772308
25-29,77,2.875584,221.42,7.480519

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [51]:
sn_gb = purchase_data.groupby(["SN"])
print(sn_gb)
sn_gb.count()
sn_purchase_count = sn_gb["SN"].count()
sn_purchase_avg = sn_gb["Price"].mean()
sn_total_value = sn_gb["Price"].sum()
#new dataframe with results
sn_summary_table = pd.DataFrame({"Purchase Count": sn_purchase_count,
                                    "Average Purchase Price": sn_purchase_avg,
                                    "Total Purchase Value": sn_total_value
                                    })

sn_summary_sorted = sn_summary_table.sort_values(by=['Total Purchase Value'], ascending=False)
sn_summary_sorted.head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000224DA272E08>

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [52]:
popular_items = purchase_data[["Item ID", "Item Name", "Price"]] 


popular_gb = popular_items.groupby(["Item ID", "Item Name"])
print(popular_gb)
popular_gb.head()
popular_gb.count()
popular_purchase_count = popular_gb["Price"].count()
popular_purchase_avg = popular_gb["Price"].mean()
popular_total_value = popular_gb["Price"].sum()
#new dataframe with results
popular_summary_table = pd.DataFrame({"Purchase Count": popular_purchase_count,
                                    "Item Price": popular_purchase_avg,
                                    "Total Purchase Value": popular_total_value
                                    })

popular_summary_sorted = popular_summary_table.sort_values(by=['Purchase Count'], ascending=False)
popular_summary_sorted.head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000224DA270548>

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [53]:
popular_summary_sorted2 = popular_summary_table.sort_values(by=['Total Purchase Value'], ascending=False)
popular_summary_sorted2.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80